<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Ian ferreira</title>
</head>

<body>
    <header>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 id="logo"> <img src="../static/images/logo1.png" alt=""></h1>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
              <ul class="nav-list">
                <li><a href="#showcase-2">showcase</a></li>
                <li><a href="../templates/indexx.html">Início</a></li>
                <li><a href="../templates/projetos.html">Projetos</a></li>
              </ul>
        </div>     
        </div>
    </nav>

    <header id="showcase-2">
        <div class="showcase-container ">
             <p id="prg">ME PROCURE NESSES CONTATOS:</p>
            <div class="class-media">
                <a href="https://www.instagram.com/i.tupii/"><img src="../static/images/logo3.png" alt="instagram" class="gallery-image"></a>
                <a href="https://github.com/itupii"><img src="../static/images/logo2.png" alt="Github" class="gallery-image"></a>
                <a href="https://web.facebook.com/ian.ferreiratupinambamachado"><img src="../static/images/logo4.png" alt="Email" class="gallery-image"></a>    
            </div>

        </div>
    </header>

    <div class="footer">
        <div class="footer-txt">
            <p>Feito por Ian Ferreira</p></br>
        </div>
    

  
    </div>
    </section>
    </header>
    <main></main>  
    <script src="../static/js/mobile-navbar.js"></script>
</body>
</html>