<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Ian ferreira</title>
</head>
<body>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo"> <img src="../static/images/logo1.png" alt=""></h1>
            <ul id="navbar-itens">
               <li><a href=#showcase><h2>Início</h2></a></li>
                <br>
               <li><a href="projetos.html"><h2>Projetos</h2></a></li>
                <br>
               <li><a href="indexx.html"><h2>Contatos</h2></a></li>
            </ul>
        </div>           
    </nav>

    <header id="showcase">
        <div class="showcase-container">
            <h2>Ian Ferreira</h2>
            <p>BACK-END DEV </p>
        </div>
    </header>

   <!-- about -->
   <section id="product">
    <div class="headline">quem sou eu</div>
    <div id="product-container"></div>
    <img src="" alt="">

    <div id="items">
    <div class="item">
        <i class="fas fa-map-marked fa-2x color-primary"></i>
        <p><h2>Ian  ferreira Tupinambá Machado, Joseense de 18 anos.</h2></p>
    <div class="item">
        <i class="fas fa-users fa-2x color-primary"></i>
        <p>,<h2>Comecei a cursar a Fatec SJC em 2022 no curso de DSM</h2></p>

    <div class="item">
        <i class="fas fa-glass-cheers fa-2x color-primary"></i>
        <p><h2>Ensino Médio Completo e concluido em 2021</h2></p>
    <div class="item">
        <i class="fas fa-book-open fa-2x"></i>
        <p><h2>DEV júnior</h2></p>
    </div>
 </div>
</div>
</section>


   <section id="hobbies">
       <div class="headline">meus hobbies</div>
       <div class="hobbies-container">
        <div class="feature">
            <i class="fas fa-map-marked fa-2x color-primary"></i>
            <p><h2> pequeno pratico esportes</h2></p>


            <i class="fas fa-users fa-2x color-primary"></i>
            <p><h2>culinária é algo que sempre esteve presente na minha vida</h2></p>
           


            <i class="fas fa-book-open fa-2x"></i>
            <p><h2>Música e literatura são coisas fundamentais para meu desenvovimento</h2></p>
           </div>
       </div>
   </section>

   <section id="gallery">
        <div class="headline">Galeria</div>
    
        <div id="gallery-container">
        <img src="../static/images/foto1.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto2.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto3.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto4.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto5.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto6.jpeg" alt="" class="gallery-image" width="200px">
        </div>
    </section>

    <div class="footer">
        <div class="footer-txt">
        <p>Feito por Ian Ferreira</p></br>
        </div>
    </div>





   <!-- font wearsome -->
   <script src="https://kit.fontawesome.com/2983983000.js" crossorigin="anonymous"></script>
        
</body>
</html>