<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Document</title>
</head>
<body>
    <nav id="navbar">
        <div class="navbar-container">
            <h1 class="logo"> I/F</h1>
            <div class="navbar-itens">
                <a href="indexx.html"><h2>Home</h2></a>
                <br>
                <a href="indexx.html"><h2>Projetos</h2></a>
                <br>
                <a href="indexx.html"><h2>Contatos</h2></a>
            </div>           
        </div>
    </nav>

    <header id="showcase">
        <div class="showcase-container">
            <h2>Ian Ferreira</h2>
            <p>BACK-END DEV </p>
        </div>
    </header>

   <!-- about -->
   <section id="product">
    <div class="headline">quem sou eu</div>
    <div id="product-container"></div>
    <img src="" alt="">

    <div id="items">
    <div class="item">
        <i class="fas fa-map-marked fa-2x color-primary"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quam soluta provident, totam praesentium at!</p>

    <div class="item">
        <i class="fas fa-users fa-2x color-primary"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quam soluta provident, totam praesentium at!</p>

    <div class="item">
        <i class="fas fa-glass-cheers fa-2x color-primary"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quam soluta provident, totam praesentium at!</p>

    <div class="item">
        <i class="fas fa-book-open fa-2x"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quam soluta provident, totam praesentium at!</p>
    </div>
 </div>
</div>
</section>


   <section id="hobbies">
       <div class="headline">meus hobbies</div>
       <div class="hobbies-container">
        <div class="feature">
               <i class="fas fa-tachomater-alt-3x"></i>
               <span class="feature-tittle"></span>
                <p> ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero autem quaerat ratione ipsum oficial.</p>



               <i class="fas fa-code fa-3x"></i>
               <span class="feature-tittle"></span>
                <p> ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero autem quaerat ratione ipsum oficial.</p>
           


                <i class="fas fa-layer-group fa-3x"></i>
               <span class="feature-tittle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum earum at. Similique, nobis error.</span>
                <p> ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero autem quaerat ratione ipsum oficial.</p>
           </div>
       </div>
   </section>

   <section id="gallery">
        <div class="headline">Sobre mim</div>
    
            <div class="testimonial">
                <img src="" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nostrum voluptate placeat, mollitia laborum a.</p>
            </div>
      
    
    
   
        <div class="Galeria">Galeria</div>
        <div id="gallery-container">
        <img src="../static/images/foto1.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto2.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto3.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto4.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto5.jpeg" alt="" class="gallery-image" width="200px">
        <img src="../static/images/foto6.jpeg" alt="" class="gallery-image" width="200px">
        </div>
    </section>

    <div class="footer">
        <div class="footer-txt">
        <p>Feito por Ian Ferreira</p></br>
        </div>
    </div>





   <!-- font wearsome -->
   <script src="https://kit.fontawesome.com/2983983000.js" crossorigin="anonymous"></script>
        
</body>
</html>