<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Ian ferreira</title>
</head>
<body>
    <header>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 id="logo"> <img src="../static/images/logo1.png" alt=""></h1>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
              <ul class="nav-list">
                <li><a href="#showcase-3">showcase</a></li>
                <li><a href="../templates/indexx.html">Início</a></li>
                <li><a href="../templates/contatos.html">Contatos</a></li>
              </ul>
        </div>
        </div>           
    </nav>

    <header id="showcase-3">
        <div class="showcase-container">
            <h2>PROJETOS DESENVOLVIDOS:</h2>
            
        </div>
    </header>

   <!-- about -->
   <section class="product-2">
    <div class="headline">HISTÓRICO:</div>
    <div id="product-container"></div>
   </section>
       <div class="project">
        <i class="fas fa-map-marked fa-2x color-primary"></i>
        <h2>INÍCIO DO ENSINO MÉDIO EM 2019</h2>
        <br><br><br>
        <i class="fas fa-users fa-2x color-primary"></i>
        <h2>TÉRMINO DO ENSINO MÉDIO EM 2021</h2>
        <br><br><br>
        <i class="fas fa-book-open fa-2x"></i>
        <h2>CURSO COMPLETO DA USP SOBRE ROBÓTICA DURANTE A PANDEMIA EM 2020</h2>
        <br><br><br>
        <i class="fas fa-map-marked fa-2x color-primary"></i>
        <h2>ENTRADA NA FATEC-SJC NO CURSO DE DSM EM 2022</h2>
        <br><br><br>
        <i class="fas fa-users fa-2x color-primary"></i>
        <h2>DEV JÚNIOR</h2>
       </div>

        <!-- font wearsome -->
   <script src="https://kit.fontawesome.com/2983983000.js" crossorigin="anonymous"></script>
       

     <div class="footer">
        <div class="footer-txt">
        <p>Feito por Ian Ferreira</p></br>
        </div>
    </div>  
</header>
<main></main>  
<script src="../static/js/mobile-navbar.js"></script> 
</body>
</html>