<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Ian ferreira</title>
</head>
<body>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 id="logo"> <img src="../static/images/logo1.png" alt=""></h1>
            <ul id="navbar-itens">
               <li><a href=indexx.html><h2>Início</h2></a></li>
                <br>
               <li><a href="projetos.html"><h2>Projetos</h2></a></li>
                <br>
               <li><a href="contatos.html"><h2>Contatos</h2></a></li>
            </ul>
        </div>           
    </nav>

    <header id="showcase-3">
        <div class="showcase-container">
            <h2>PROJETOS DESENVOLVIDOS:</h2>
            
        </div>
    </header>

   <!-- about -->
   <section class="product-2">
    <div class="headline">HISTÓRICO:</div>
    <div id="product-container"></div>
   </section>
       <div class="project">
        <<h2>INÍCIO DO ENSINO MÉDIO EM 2019</h2>
        <br><br><br>
        <h2>TÉRMINO DO ENSINO MÉDIO EM 2021</h2>
        <br><br><br>
        <h2>CURSO COMPLETO DA USP SOBRE ROBÓTICA DURANTE A PANDEMIA EM 2020</h2>
        <br><br><>,br
        <h2>ENTRADA NA FATEC-SJC NO CURSO DE DSM EM 2022</h2>
        <br><br><br>
        <h2>DEV JÚNIOR....</h2>
       </div>
       

     <div class="footer">
        <div class="footer-txt">
        <p>Feito por Ian Ferreira</p></br>
        </div>
    </div>

    
             
    

  
   
    
</body>
</html>