<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/portifolio.css">
    <title>Ian ferreira</title>
</head>
<body>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo"> <img src="../static/images/logo1.png" alt=""></h1>
            <ul id="navbar-itens">
               <li><a href=#showcase><h2>Início</h2></a></li>
                <br>
               <li><a href="indexx.html"><h2>Projetos</h2></a></li>
                <br>
               <li><a href="indexx.html"><h2>Contatos</h2></a></li>
            </ul>
        </div>           
    </nav>

    <header id="showcase">
        <div class="showcase-container">
            <h2>Me procure nesses Contatos</h2>
        </div>
    </header>

    <div id="gallery-container">
        <img src="" alt="instagram" class="gallery-image" width="200px">
        <img src="" alt="Github" class="gallery-image" width="200px">
        <img src="" alt="Facebook" class="gallery-image" width="200px">
         </div>
    </section>

    
</body>
</html>